*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#000000;
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	color:#610505;
	text-decoration:none;
	outline:none;
}

a:hover{font-weight: bolder; font-size:2em; }
a:focus{font-weight: bolder;  color:blue; font-size:2em;}


a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;  
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	padding:0 5px;
	position:absolute;
	right:0;
	top:7.5em;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#610505;
	display:block;
	float:left;
	font-size:1.35em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}
nav ul li a:focus{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:1000px;
	margin:0 auto;
	padding: 0em 5em;
	border-radius: 15px;
	position:relative;
	background-image: linear-gradient(to top, rgba(0, 0 , 0, 1), rgba(0, 0 , 0, .8), rgba(0, 0 , 0, .6), rgba(0, 0 , 0, .4), rgba(0, 0 , 0, .2), rgba(0, 0 , 0, 0));
}

article{
	margin:3em 0;
	padding:20px;
	letter-spacing: .7px;
	font-size: 16px;
}

article h2{
	font-family: "arial black";
}

#article1{
	background-color:#333333;
	color: #ffffff;
	font-weight: 600;
}

#article2{
	background-color:#666666;
	color: #ffffff;
	font-weight: 600;
}

#article3{
	background-color:#999999;
	font-weight: 600;
}

#article4{
	background-color:#bbbbbb;
	font-weight: 600;
}


figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #f2f2f2;
	-webkit-box-shadow:0 0 2px #f2f2f2;
	box-shadow:0 0 2px #f2f2f2;
}
figure:focus{
	-moz-box-shadow:0 0 2px #f2f2f2;
	-webkit-box-shadow:0 0 2px #f2f2f2;
	box-shadow:0 0 2px #f2f2f2;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:1.5em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
	color: #ffffff;
	
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}
footer a:focus{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
